@charset "UTF-8";
/* CSS Document */

html {
  margin-top: -20px;
}

/*ページの余白を0に設定する*/
body {
  /*	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
  padding: 0;
  background-color: #FFFFFF;
  color: #3c3c3c;
  font-size: 15px;
  font-feature-settings: "palt";
  /*	letter-spacing: 0.1em;*/
  line-height: 2;
  /*	max-width: 1080px;*/
  margin: 0 auto;
}


/*ブラウザと規定のスタイルを解除する*/
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/*画像の下部の余白をなくす*/
img {
  vertical-align: bottom;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*リスト項目の余白をなくす*/
ul {
  margin: 0;
  padding: 0;
}

a {
  /*	訪問前のリンク*/
  color: #FFFFFF;
  /*	下線なしの設定*/
  text-decoration: none;
}

a:visited {
  /*	訪問後のリンク*/
  /*	color: #788d98;*/
}

a:hover {
  /*	マウスポインたを置いた時*/
  text-decoration: underline;
}

#contact {
  height: 600px;
  background-image: url("../images/contact/sue-hughes-toQNPpuDuwI-unsplash.jpg");
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.8;
  position: relative;
  z-index: 2;
}

/*共通部分*/
.main_visual {
  background-color: #F2D6AA;
}

/*ナビゲーションメニュー*/
#top-head {
  top: -70px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 30px 0 0;
  line-height: 1;
  z-index: 999;
}

#top-head a, #top-head {
  color: #8B4513;
  text-shadow: 1px 1px 3px #EEEEEE;
  text-decoration: none;
  font-family: "Comic Sans MS";
}

#top-head .inner {
  position: relative;
}

#top-head .logo {
  float: left;
  font-size: 36px;
  color: #000000;
  padding-left: 5vw;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  height: 7vw;
  background: #fff;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}

#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
}


/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 21px;
  width: 50px;
  height: 36px;
  cursor: pointer;
  z-index: 999;
}

#nav-toggle div {
  position: relative;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #8B4513;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 11px;
}

#nav-toggle span:nth-child(3) {
  top: 22px;
}

/*ロゴ*/
.logo-dc {
  width: 16vw;
  position: absolute;
  top: -2vw;
}

.gloval-nav {
  position: absolute;
  top: 10%;
  left: 34%;
  z-index: 2;
}

.gloval-nav li {
  float: left;
  margin: 0 20px;
  list-style: none;
  /* font-family: "ＭＳ ゴシック",sans-serif; */
  font-family: sans-serif;
}

.gloval-nav li a {
  color: #ffffff;
  text-shadow: -1px -2px 3px #808080;
  /* color: #FFCC99; */
  font-size: 1.6rem;
}

.gloval-nav li a:hover {
  padding-bottom: 3px;
  text-decoration: none;
}

.gloval-nav2 {
  position: absolute;
  top: 10%;
  left: 34%;
  z-index: 2;
}

.gloval-nav2 li {
  float: left;
  margin: 0 20px;
  list-style: none;
  /* font-family: "ＭＳ ゴシック",sans-serif; */
  font-family: sans-serif;
}


.gloval-nav2 li a {
  color: #ffffff;
  text-shadow: -1px -2px 3px #808080;
  /* color: #FFCC99; */
  font-size: 1.6rem;
}

.gloval-nav2 li a:hover {
  padding-bottom: 3px;
  text-decoration: none;
  opacity: 0.8;
}

.content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: Chalkduster;
  color: #FF9900;
  display: block;
}

/*contactページ*/
.contact-title {
  padding: 50px 0;
}

.contact-text {
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}

.contact-text p {
  font-family: 'Kosugi Maru', sans-serif;
}

/* 個人情報保護について */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkbox_label {
  cursor: pointer;
  display: block;
}

.checkbox_txt {
  vertical-align: top;
  font-size: 1.0rem;
}

.Form-Item-LabelP {
  width: 100%;
  max-width: 260px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.irast {
  display: inline-block;
  padding-left: 67%;
  width: 15vw;
  height: 15vw;
  animation: irast1 3s ease infinite;
}

/*小鳥さんの動き*/
@keyframes irast1 {
  0% {
    transform: translateY(0)
  }

  5% {
    transform: translateY(0)
  }

  10% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-15px)
  }

  25% {
    transform: translateY(0)
  }

  30% {
    transform: translateY(-15px)
  }

  50% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(0)
  }
}


/* バリデーションチェック */
#name-error, #kana_name-error, #mail-error, #mail_conf-error, #inquiry-error, #tell-error {
  cursor: pointer;
  color: #d70d19;
  display: block;
  font-size: 1.0rem;
}

label[for] {
  cursor: pointer;
  color: #d70d19;
  font-size: 1.0rem;
  display: block;
}


@media screen and (max-width: 680px) {

  .contact_form tr,
  .contact_form td {
    display: block;
    width: 100%;
  }

  .contact_form th {
    display: block;
    width: 100%;
    padding: 20px 20px 0;
  }
}


@media screen and (max-width: 768px) {
  .gloval-nav2 {
    display: block;
  }

  .logo-dc {
    top: 1.3vw;
    left: 3vw;
    width: 23vw;
    height: 15vw;
  }

  /*	ハンバーガーメニュー*/
  #nav-toggle {
    display: block;
  }

  #top-head, .inner {
    width: 100%;
    padding: 0;
  }

  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }

  #top-head a, #top-head {
    text-shadow: none;
  }

  #mobile-head {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 22vw;
    /*        z-index: 999;*/
    position: relative;
  }

  #top-head.fixed .logo,
  #top-head .logo {
    color: #333;
    font-size: 26px;
  }

  #gloval-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -556px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    padding: 50px 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  #gloval-nav ul {
    width: 100%;
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
  }

  #gloval-nav ul li {
    float: none;
    position: static;
  }

  #top-head #gloval-nav ul li a,
  #top-head.fixed #gloval-nav ul li a {
    color: #8B4513;
    text-shadow: 1px 1px 3px #EEEEEE;
    text-decoration: none;
    font-family: "Comic Sans MS";
    display: block;
    padding: 18px 0;
  }

  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  /* #global-nav スライドアニメーション */
  .open #gloval-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  /*	ここまで(ハンバーガーメニューの実装)*/
  .irast {
    display: inline-block;
    padding-left: 67%;
    width: 27vw;
    height: 27vw;
  }
}

@media screen and (max-width: 562px) {
  .contact-text {
    width: 362;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
  }
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-bottom: 10px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #FF0000;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  /*    margin-left: 23px;*/
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 20px;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 230px;
  background: #eaedf2;
  font-size: 15px;
}

.Form-Item-Input-sei {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-right: 22px;
  padding-left: 1em;
  padding-right: 1em;
  /* margin-bottom: 20px; */
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 15px;
}


@media screen and (min-width: 480px) and (max-width: 561px) {
  .Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    /*    margin-left: 23px;*/
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 20px;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 230px;
    background: #eaedf2;
    font-size: 18px;
  }
}

.Form-Item-Input2 {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 12px;
}

.Form-Item-Input3 {
  border: 1px solid #ddd;
  border-radius: 6px;
  /*    margin-left: 24px;*/
  padding-left: 1em;
  padding-right: 1em;
  height: 250px;
  flex: 1;
  width: 90%;
  max-width: 530px;
  background: #eaedf2;
  font-size: 14px;
  resize: none;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    flex: inherit;
  }

  .Form-Item-Input2 {
    margin-left: 0;
    margin-top: 18px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  border-radius: 20px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 10px 0;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #F8B551;
  color: #fff;
  font-size: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.Form-Btn:hover {
  transition: 1.3s;
  opacity: 0.8;
}

.Form-Item-Input-sei, .Form-Item-Input2 {
  width: 90%;
}

/*google mapエリア*/
.google-map {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.google-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #FFFFFF
}

footer .logo {
  margin: 20px 0;
  width: 40px;
  height: 40px;
  padding: 40px 10px;
}

footer .logo:hover {
  transform: scale(1.3);
  transition-duration: 1.0s;
}

footer .copyright {
  color: #000000;
  font-size: 18px;
}

@media screen and (max-width: 375px) {

  /* ナビゲーションメニュー */
  #mobile-head {
    height: 33vw;
    position: relative;
  }

  .logo-dc {
    top: 5vw;
    left: 5vw;
    width: 35vw;
    height: 23vw;
  }

  .contact-text p {
    font-size: 0.9rem;
  }

  .contact-irast {
    position: relative;
  }

  .irast {
    position: absolute;
    top: 10vw;
    left: -37vw;
    display: inline-block;
    width: 33vw;
    height: 33vw;
  }

  .Form {
    margin-top: 200px;
  }

  .Form-Item-Input-sei, .Form-Item-Input2 {
    width: 90%;
  }
}

@media screen and (max-width: 280px) {
  .irast {
    width: 45vw;
    height: 45vw;
  }

  #nav-toggle {
    position: absolute;
    right: 25px;
  }

  .Form-Item-Input-sei, .Form-Item-Input2 {
    width: 84%;
  }

  .Form-Btn {
    width: 240px;
  }
}