@charset "UTF-8";
/* CSS Document */

/* htmlの最大幅を指定 */
html {
	max-width: 1720px;
	margin: 0 auto;
	margin-top: -20px;
}

body {
	/*	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
	padding: 0;
	background-color: #FFFFFF;
	color: #3c3c3c;
	font-size: 15px;
	font-feature-settings: "palt";
	line-height: 2;
	margin: 0 auto;
}

/*ブラウザと規定のスタイルを解除する*/
p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

/*画像の下部の余白をなくす*/
img {
	vertical-align: bottom;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/*リスト項目の余白をなくす*/
ul {
	margin: 0;
	padding: 0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	/*	マウスポインたを置いた時*/
	text-decoration: underline;
}

/* ヘッダーメインビジュアル */
.slide-dots {
	display: none !important;
}

/*ヘッダーエリアのスタイルを指定する*/
.main_visual-img {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}

/*ナビゲーションメニュー動き fixed*/
#nav.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	padding-top: 10px;
	height: 55px;
	background: #fff;
	background: rgba(255, 255, 255, .7);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}

/*ローディング*/
.loading {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1.0);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
}

.loading img {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 43%;
	margin-top: -20px;
	margin-left: -20px;
}

/*ローディングここまで*/

/*scriptタグ記述*/
.bgSP {
	display: none;
	height: 0;
}

/*共通部分*/
.main_visual {
	background-color: #F2D6AA;
}

.bx-wrapper {
	position: relative;
	z-index: 1;
}

.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background: none;
}

.bx-controls {
	display: none;
}

/*ナビゲーションバーの位置を指定する*/
.gloval-nav {
	position: absolute;
	top: 10%;
	left: 34%;
	z-index: 2;
}

.gloval-nav li {
	float: left;
	margin: 0 20px;
	list-style: none;
	font-family: sans-serif;
}

.gloval-nav li a {
	color: #ffffff;
	text-shadow: -1px -2px 3px #808080;
	font-size: 1.6rem;
}

.gloval-nav li a:hover {
	padding-bottom: 3px;
	text-decoration: none;
}

.gloval-nav2 {
	position: absolute;
	top: 50%;
	left: 34%;
	z-index: 2;
}

.gloval-nav2 li {
	float: left;
	margin: 0 20px;
	list-style: none;
	font-family: sans-serif;
}

.gloval-nav2 li a {
	color: #444444;
	font-size: 1.6rem;
}

.gloval-nav2 li a:hover {
	padding-bottom: 3px;
	text-decoration: none;
	opacity: 0.8;
}

/* header */
#top-head {
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;
	padding: 60px 0 0;
	line-height: 1;
	z-index: 999;
}

#top-head a,
#top-head {
	color: #8B4513;
	text-shadow: 1px 1px 3px #EEEEEE;
	text-decoration: none;
	font-family: 'Itim', cursive;
}

#top-head .inner {
	position: relative;
}

#top-head .logo {
	float: left;
	font-size: 36px;
	padding-left: 5vw;
}

/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	padding-top: 60px;
	height: 7vw;
	background: #fff;
	background: rgba(255, 255, 255, .7);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
	font-size: 24px;
	color: #333;
	margin-top: 10px;
	padding-left: 5vw;
}

#top-head.fixed #global-nav ul li a {
	color: #333;
	padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
	display: none;
	display: none;
	position: absolute;
	right: 16px;
	top: 21px;
	width: 55px;
	height: 36px;
	cursor: pointer;
	z-index: 999;
}

#nav-toggle div {
	position: relative;
}

#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #8B4513;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
	top: 0;
}

#nav-toggle span:nth-child(2) {
	top: 11px;
}

#nav-toggle span:nth-child(3) {
	top: 22px;
}

.nav-sp {
	display: none;
}

.button-sp {
	display: none;
}

.toggle-btn {
	display: none;
}

#nav-btn-sp {
	display: none;
}

/*ロゴ*/
.logo-dc {
	width: 18vw;
	position: absolute;
	top: -4vw;
}

/*スクロールボタン*/
.scroll_btn {
	width: 100%;
	position: absolute;
	bottom: 20px;
	z-index: 1;
}

.scroll_btn a {
	text-decoration: none;
}

.scroll_btn img {
	border-radius: 50%;
}

.scroll_btn img:hover {
	background-color: rgba(255, 255, 255, 0.5);
	transition: 1.3s;
}

.scroll_btn span {
	display: block;
	width: 4%;
	max-width: 40px;
	color: #ff9900;
	text-align: center;
	margin: 0 auto 10px;
}

.concept-section {
	display: inline;
	width: 100%;
	margin: 0 auto;
	background-color: #FFEFD5;
}


/* メインビジュアル */
#main-visual {
	margin-inline: auto;
	/* overflow: hidden; */
}

.main_visual-img {
	width: 100%;
}

@keyframes zoomUp {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.15);
		/* 拡大率 */
	}
}

.add-animation {
	animation: zoomUp 10s linear 0s normal both;
}

.slick-list draggable {
	height: 0px;
}

/*jQuery フワッと表示する動き*/
/*フワッと表示 Concept  Interior*/
.content-interior {
	opacity: 0.1;
	transition: all 1.7s;
}

.content-interior.blockIn {
	opacity: 1;
}

/*News*/
.news-area {
	opacity: 0.1;
	transition: all 1.7s;
}

.news-area.blockIn {
	opacity: 1;
}

/*Galleries*/
.galleries-section {
	opacity: 0.1;
	transition: all 2.0s;
}

.galleries-section.blockIn {
	opacity: 1;
}

/*フワッと表示する動き ここまで*/

.title {
	text-align: center;
	font-size: 40px;
	font-family: Chalkduster;
	color: #FF9900;
	display: block;
}

.title-g {
	text-align: center;
	font-size: 40px;
	font-family: Chalkduster;
	color: #FF9900;
	display: block;
	padding-bottom: 50px;
}

.concept {
	display: flex;
	position: relative;
	background-color: #FFEFD5;
}

.title-concept {
	background-color: #FFEFD5;
	padding: 60px 0;
}

.concept-box {
	flex: 1;
	padding: 3% 0 0 10%;
	width: 50vw;
	max-width: 500px;
	height: 50vw;
	max-height: 500px;
}

.concept-img {
	border-radius: 50%;
	width: 100%;
	object-fit: cover;
}

.concept-img:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.concept-ato {
	position: absolute;
	left: 7%;
	bottom: 1%;
}

.home-dog-ato {
	width: 130px;
	height: 130px;
}

.concept-text {
	width: 50%;
	max-width: 700px;
	float: right;
	padding: 80px;
	line-height: 2.5;
	box-sizing: border-box;
	letter-spacing: 0.2em;
}

.concept-text h2 {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.5rem;
	color: #FF9900;
	text-shadow: 0px 0px 2px #EEEEEE;
}

.concept-text p {
	/*	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
	font-family: 'Kosugi Maru', sans-serif;
	width: 80%;
}

/*inview.js動き*/
/*Conceptエリア*/
.content {
	opacity: 0;
	transform: translateX(100px);
}

.fadeInLeft {
	transition: all 2.5s ease-in-out;
	transform: translateX(-0.1px);
	opacity: 1 !important;
}

/*Dogsエリア*/

/*inview.js動き*/
.content-dogs {
	opacity: 0;
	transform: translateX(-100px);
}

.fadeInRight {
	transition: all 2.5s ease-in-out;
	transform: translateX(0.1px);
	opacity: 1 !important;
}

/*inview.js動きここまで*/

.content-dogs {
	width: 100%;
	margin: 0 auto 100px;
	background-color: #FFFFFF;
}

.title-dogs {
	padding-top: 100px;
}

.dogs {
	max-width: 842px;
	margin: 0 auto;
	background-color: #FFFFFF;
	position: relative;
}

.dogs-area {
	display: flex;
	height: 390px;
}

.dogs-text {
	flex: 1;
}

.dogs-text p {
	/*	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 16px;
	line-height: 2em;
	letter-spacing: 0.3em;
	margin-top: 100px;
}

.dogs-area-img {
	flex: 1;
	position: relative;
}

.hukidashi {
	position: absolute;
	width: 32%;
	max-width: 130px;
	z-index: 2;
	left: 11%;
}

/*吹き出しをホバーしたら左右に動きをつけたい*/
.hukidashi:hover {
	animation: swing 1s ease;
	animation-iteration-count: 1;
}

@keyframes swing {
	15% {
		transform: translateX(5px);
	}

	30% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(3px);
	}

	65% {
		transform: translateX(-3px);
	}

	80% {
		transform: translateX(2px);
	}

	100% {
		transform: translateX(0);
	}
}

.dogs-img {
	position: absolute;
	width: 89%;
	max-width: 357px;
	z-index: 1;
	top: 45px;
	left: 10%;
}

.dogs-img:hover {
	transform: scale(1.1);
	transition-duration: 1.3s;
}

.dogs-link {
	text-decoration: none;
	position: absolute;
	bottom: 24%;
	left: 20%;
}

.dogs-link_image {
	max-width: 300px;
}

.dogs-link_image:hover {
	opacity: 0.8;
	transition-duration: 0.8s;
}

.home-dog-ato3 {
	position: relative;
}

/* .dog-ato3 {
	position: absolute;
	top: -80px;
	right: 60;
	left: 10px;
	width: 15vw;
} */

.dog-ato3 {
	position: absolute;
	top: -2rem;
	right: 60;
	left: -8rem;
	width: 12vw;
}

/*インテリアエリア*/
.interior {
	background-image: url("../images/index/ogasuta458A7816_TP_V.jpg");
	background-size: cover;
	background-position: top center;
	opacity: 0.9;
}

.interior-box {
	max-width: 1200px;
	height: 740px;
	position: relative;
}

.interior-box-title {
	width: 20vw;
	height: 16vw;
	position: absolute;
	top: 20%;
	left: 8%;
}

.title2 {
	display: none;
}

.interior-box-text {
	width: 23vw;
	height: 18vw;
	position: absolute;
	top: 6%;
	left: 47%;
}

.interior-text-area {
	display: none;
}

.interior-text {
	display: none;
}

.interior-box-text2 {
	width: 23vw;
	height: 18vw;
	position: absolute;
	top: 58%;
	left: 50%;
}

.interior-box-sp {
	display: none;
}

.interior-sp {
	display: none;
}

.yohaku {
	background-color: #FFFFFF;
	width: inherit;
	height: 100px;
}

/*ニュースエリア*/
.news-area {
	height: 750px;
	background-color: #FFEFD5;
}

.title-news {
	background-color: #FFEFD5;
	padding: 60px;
}

.home-news {
	text-align: center;
	background-color: #FFEFD5;
	height: 380px;
}

.news {
	display: inline-block;
	padding: 15px;
	text-align: center;
}

.news-day {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.news-ibent {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.home-news-img1 {
	border-radius: 10%;
	max-width: 200px;
	width: 100%;
	height: 29vh;
	object-fit: cover;
	margin-bottom: 9px;
}

.home-news-img1:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.home-news-img2 {
	border-radius: 10%;
	max-width: 200px;
	width: 100%;
	height: 29vh;
	object-fit: cover;
	margin-bottom: 9px;
}

.home-news-img2:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.home-news-img3 {
	border-radius: 10%;
	max-width: 200px;
	width: 100%;
	height: 29vh;
	object-fit: cover;
	margin-bottom: 9px;
}

.home-news-img3:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.home-kiji-btn {
	position: relative;
}

.btn--orange {
	position: absolute;
	top: 12px;
	right: 108px;
	width: 13%;
}

.btn--orange {
	font-family: 'Comic Sans MS';
	font-size: 1.3rem;
	letter-spacing: 0.1em;
	max-width: 117px;
	width: 100%;
	padding: 5px 0;
}

.btn--orange,
a.btn--orange {
	color: #fff;
	background-color: #FFCC99;
}

.btn--orange:hover,
a.btn--orange:hover {
	color: #FFCC99;
	background-color: #fff;
	transition: 1.3s;
}

a.btn--radius {
	border-radius: 100vh;
}

a.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.home-dog-ato2 {
	position: relative;
}

.dog-ato2 {
	position: absolute;
	left: 25px;
	top: -20px;
	width: 130px;
	height: 130px;
}

.home-kiji-btn {
	position: relative;
}

.home-kiji-btn a {
	text-decoration: none;
}

/*ギャラリーページ*/
.title-galleries {
	padding: 60px 0;
}

.gallerie {
	max-width: 880px;
	margin: 0 auto;
	justify-content: space-between;
}

.galleries {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.galleries li {
	width: 250px;
	margin-bottom: 50px;
}

.galleries-img {
	border-radius: 30px;
	width: 100%;
	height: 250px;
	filter: brightness(112%);
	object-fit: cover;
}

.galleries-img-kap {
	border-radius: 30px;
	width: 100%;
	height: 250px;
	filter: brightness(128%);
	object-fit: cover;
}

.galleries-img-okimono {
	border-radius: 30px;
	width: 100%;
	height: 250px;
	filter: brightness(102%);
	object-fit: cover;
}

.galleries-img-cookie {
	border-radius: 30px;
	width: 100%;
	height: 250px;
	filter: brightness(110%);
	object-fit: cover;
}

.galleries-img:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.galleries-img-kap:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.galleries-img-okimono:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.galleries-img-cookie:hover {
	opacity: 0.8;
	transition-duration: 1.3s;
}

.gallerie-sp {
	display: none;
}

.galleries-img-sp {
	display: none;
}

.galleries-img-kap-sp {
	display: none;
}

.galleries-img-okimono-sp {
	display: none;
}

.karusel-btn {
	display: none;
}

.yajirushi-btn1 {
	display: none;
}

.yajirushi-btn2 {
	display: none;
}

/*google mapエリア*/
.google-map {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.google-map iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

/*ページトップボタン*/
.topBtn {
	position: fixed;
	bottom: 2vw;
	right: 0;
	display: block;
	z-index: 9999;
	text-decoration: none;
	width: 10vw;
	height: 7rem;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	-webkit-transition-property: opacity;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
}

.topBtn a {
	text-decoration: none;
}

.topBtn:hover {
	opacity: 0.5;
}

/* ページトップボタン ここまで */

/*footerエリア*/
footer {
	text-align: center;
	padding: 50px 0 20px 0;
	background-color: #FFFFFF
}

footer .logo-insta {
	margin: 20px 0;
	width: 40px;
	height: 40px;
	padding: 40px 10px;
}

footer .logo-insta:hover {
	transform: scale(1.3);
	transition-duration: 1.0s;
}

footer .logo-fb {
	margin: 20px 0;
	width: 40px;
	height: 40px;
	padding: 40px 10px;
}

footer .logo-fb:hover {
	transform: scale(1.3);
	transition-duration: 1.0s;
}

footer .copyright {
	color: #000000;
	font-size: 18px;
}

/*レスポンシブ対応*/
@media screen and (max-width: 768px) {
	h2 {
		font-size: min(1.5rem, 3.8vw);
	}

	p {
		font-size: min(1.5rem, 3.8vw);
	}

	.img {
		width: 100%;
	}

	.header_nav {
		width: 100%;
		max-width: 768px;
		position: absolute;
		right: 0;
	}

	/*	グローバルナビ*/
	.nav-sp {
		display: none;
	}

	.gloval-nav {
		display: none;
	}

	/*	ハンバーガーメニュー*/
	#top-head,
	.inner {
		width: 100%;
		padding: 0;
	}

	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
	}

	/* Fixed reset */
	#top-head.fixed {
		padding-top: 0;
		background: transparent;
	}

	#mobile-head {
		background: rgba(255, 255, 255, 0.2);
		width: 100%;
		height: 41vw;
		position: relative;
	}

	#top-head.fixed .logo,
	#top-head .logo {
		position: absolute;
		left: 13px;
		top: 21px;
		color: #FFF;
	}

	#gloval-nav {
		position: absolute;
		top: -556px;
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		text-align: center;
		padding: 50px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	#gloval-nav ul {
		list-style: none;
		position: static;
		right: 0;
		bottom: 0;
		font-size: 14px;
	}

	#gloval-nav ul li {
		float: none;
		position: static;
	}

	#top-head #gloval-nav ul li a,
	#top-head.fixed #gloval-nav ul li a {
		width: 100%;
		display: block;
		padding: 18px 0;
	}

	#nav-toggle {
		display: block;
		width: 10vw;
	}

	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}

	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}

	/* #global-nav スライドアニメーション */
	.open #gloval-nav {
		-moz-transform: translateY(556px);
		-webkit-transform: translateY(556px);
		transform: translateY(556px);
	}

	/*	ここまでがハンバーガーメニュー*/

	.main_visual-img {
		object-fit: cover;
	}

	.main-visual-sp {
		display: block;
		height: 100%;
	}

	.main-visual-sp-img {
		height: 100vh;
		object-fit: cover;
	}

	.main-visual-sp-img:first-child {
		object-position: 0% 50%;
	}

	.main-visual-sp-img:nth-child(2) {
		object-position: 30% 50%;
	}

	.main-visual-sp-img:last-child {
		object-fit: cover;
		object-position: 50% 20%;
	}

	/*	ロゴ*/
	.logo {
		width: 30vw;
	}

	.logo-dc {
		position: absolute;
		top: -0.5vw;
		left: 0;
		width: 30vw;
		height: 21vw;
		z-index: 999;
	}

	.loading {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 1.0);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20000;
	}

	.loading img {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 40%;
		margin-top: -20px;
		margin-left: -20px;
	}

	/*	スクロールボタン*/
	.scroll_btn span {
		width: 6%;
	}

	/*	Conceptエリア*/
	.fadeInRight {
		transform: translate(0);
	}

	.content {
		opacity: 1;
		transform: translateX(0);
	}

	.content {
		width: 100%;
		margin: 0 auto;
		background-color: #FFEFD5;
	}

	.concept {
		flex-direction: column-reverse;
	}

	.concept-text h2 {
		font-size: 1.6rem;
	}

	.concept-ato {
		position: relative;
		width: 100%;
		max-width: 200px;
	}

	.home-dog-ato {
		width: 30vw;
	}

	.concept-box {
		padding: 0 0 90px 0;
		width: 80vw;
		max-width: 500px;
		height: 50vw;
		max-height: 500px;
		margin: 0 auto;
	}

	.concept-img {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		display: block;
	}

	.concept-text {
		width: 73%;
		max-width: 540px;
		float: none;
		margin: 0 auto 0;
		padding: 0;
	}

	.concept-text p {
		font-size: min(1.5rem, 3.8vw);
		width: 100%;
	}

	.concept-text h2 p {
		font-size: min(1.5rem, 3.8vw);
	}

	/*Dogsエリア*/
	.fadeInLeft {
		transform: translate(0);
	}

	.content-dogs {
		opacity: 1;
		transform: translateX(0);
	}

	.content-dogs {
		display: block;
		padding: 0 0 100px 0;
	}

	.dogs {
		width: 90%;
		max-width: 560px;
		margin: 0 auto;
		padding-top: 60px;
	}

	.dogs-area {
		display: block;
		height: 130%;
		max-height: 750px;
	}

	.title-dogs {
		padding-top: 60px;
	}

	.dogs-text {
		margin: 0 auto 30px;
	}

	.dogs-text p {
		font-family: 'Kosugi Maru', sans-serif;
		font-size: min(1.5rem, 3.8vw);
		margin: 0;
	}

	.dogs-area-img {
		width: 100%;
		height: 80vw;
		max-height: 530px;
	}

	.hukidashi {
		width: 35%;
		max-width: 180px;
		left: 1%;
	}

	.dogs-img {
		max-width: 500px;
		width: 80%;
		margin: 0 auto;
	}

	.dogs-link {
		bottom: 0;
		left: 7vw;
	}

	.dog-ato3 {
		position: absolute;
		top: -14vw;
		left: -8vw;
		width: 25vw;
	}

	.dogs-link_image {
		position: absolute;
		max-width: 460px;
		width: 80vw;
		padding-top: 60px;
	}

	/*	Interiorエリア*/
	.content-interior {
		opacity: 1;
		/*		transition: all 1.7s;*/
	}

	.interior-box-title {
		display: none;
	}

	.interior-text-area {
		display: block;
		height: auto;
		background-color: #FFEFD5;
	}

	.title2 {
		display: block;
		text-align: center;
		font-size: 40px;
		font-family: Chalkduster;
		color: #FF9900;
		padding: 100px 0;
	}

	.interior-text {
		display: inherit;
		max-width: 650px;
		padding: 0 0 100px 0;
	}

	.interior-text p {
		/*		font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
		font-family: 'Kosugi Maru', sans-serif;
		font-size: min(1.5rem, 3.8vw);
		width: 80%;
		margin: 0 auto;
	}

	.interior-box-sp {
		display: block;
	}

	.interior-sp {
		display: block;
		height: 100vw;
	}

	.interior-box {
		display: none;
	}

	.interior-box-text {
		display: none;
	}

	.interior-box-text2 {
		display: none;
	}

	/*	Menuエリア*/
	.title-concept2 {
		background-color: #fff;
		padding: 60px 0;
	}

	.concept-menu {
		display: flex;
		position: relative;
		background-color: #fff;
	}

	/*	Newsエリア*/
	.news-area {
		height: 100%;
		;
		padding-bottom: 150px;
		opacity: 1;
	}

	.home-news {
		height: 100%;
	}

	.news {
		padding-bottom: 100px;
	}

	.news:last-of-type {
		padding-bottom: 0px;
	}

	.home-news-img1 {
		display: block;
		max-width: 500px;
		margin: 0 auto;
		height: 55vw;
		margin-bottom: 10px;
	}

	.home-news-img2 {
		display: block;
		max-width: 500px;
		margin: 0 auto;
		height: 55vw;
		margin-bottom: 10px;
	}

	.home-news-img3 {
		display: block;
		max-width: 500px;
		margin: 0 auto;
		height: 55vw;
		margin-bottom: 10px;
	}

	.news-day {
		font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
		font-size: min(1.8rem, 4.0vw);
	}

	.news-ibent {
		font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
		font-size: min(1.8rem, 4.0vw);
	}

	.home-kiji-btn {
		margin-top: 3vw;
	}

	.btn--orange {
		position: relative;
		top: 0;
		right: 0;
		font-size: 1.4rem;
		padding: 3vw 3vw;
	}

	.home-dog-ato2 {
		position: relative;
	}

	.dog-ato2 {
		width: 22vw;
		top: -20vw;
	}

	/*	Galeriesエリア*/
	.galleries {
		display: none;
	}

	.galleries-section {
		opacity: 1;
	}

	.galleries-img {
		display: none;
	}

	/*	SP版を表示*/
	header .bx-wrapper {
		border: none;
		margin-bottom: 0px;
	}

	.bx-galleries-sp {
		display: block;
	}

	.galleries-img-kap-sp {
		filter: brightness(119%);
	}

	.karusel-btn {
		display: none;
	}

	.title-galleries {
		padding: 60px 0 0;
	}

	.gallerie-sp {
		display: block;
		width: 66%;
		max-width: 450px;
		height: 66vw;
		max-height: 450px;
		margin: 0 auto 100px;
	}

	.galleries-img {
		display: none;
	}

	.galleries-img-kap {
		filter: brightness(110%);
	}

	.galleries-img-sp {
		display: none;
	}

	.gallerie-sp .bx-wrapper {
		max-width: 250px;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		background: none;
		height: 100%;
	}

	.slick-list {
		height: 100%;
	}

	.bx-galleries-sp {
		position: relative;
		z-index: 2;
	}

	.gallerie-sp .bx-viewport {
		height: 100%;
	}

	.gallerie-sp .bx-controls {
		display: block;
	}

	.bx-wrapper .bx-controls-direction a {
		background: url("../素材/Home画面/右矢印ボタン.png");
		width: 100px;
		height: 100px;
		background-position: center;
		background-size: cover;
	}

	.gallerie-sp .bx-next {
		background: url("../素材/Home画面/左矢印ボタン.png");
		width: 100px;
		height: 100px;
		background-position: center;
		background-size: cover;
	}

	.gallerie-sp .bx-pager {
		display: none;
	}

	.gallerie-sp .galleries-sp {
		display: block;
	}

	.bx-galleries-sp {
		height: 100%;
	}

	.galleries-img-sp-okimono {
		filter: brightness(95%);
	}

	.galleries-img-cookie-sp {
		filter: brightness(110%)
	}

	.gallerie-sp .galleries-img-sp, .galleries-img-kap-sp, .galleries-img-sp-okimono, .galleries-img-cookie-sp {
		display: block;
		border-radius: 50px;
		width: 100%;
		max-width: 560px;
		height: 100%;
		max-height: 560px;
		margin: 0 auto;
	}

	.bx-galleries-sp button {
		background-color: #f00;
		color: #ff0;
		width: 10vw;
		max-width: 65px;
		height: 10vw;
		max-height: 65px;
		opacity: 0;
	}

	.bx-galleries-sp button:first-child {
		left: -18%;
	}

	.bx-galleries-sp button:last-child {
		right: -18%;
	}

	.gallerie-sp .galleries-img-kap-sp .galleries-img-sp-okimono, .galleries-img-cookie-sp {
		object-fit: cover;
	}

	.yajirushi1 {
		position: absolute;
		bottom: 300px;
		left: 8px;
		display: inline-block;
		width: 10vw;
	}

	.yajirushi2 {
		width: 10vw;
	}

	.yajirushi-btn {
		position: relative;
		height: 70vw;
	}

	.yajirushi-btn1 {
		position: absolute;
		left: -18%;
		top: -53%;
		display: inline;
		width: 10vw;
		max-width: 65px;
		z-index: 1;
	}

	.yajirushi-btn2 {
		position: absolute;
		right: -18%;
		top: -53%;
		display: inline;
		width: 10vw;
		max-width: 65px;
		z-index: 1;
	}

}

@media screen and (max-width: 830px) {

	/* ページトップボタン 830px以下 */
	.topBtn {
		width: 15vw;
		position: fixed;
		bottom: -3vw;
		right: 0;
	}
}

@media screen and (max-width: 430px) {

	/* ページトップボタン 430px以下 */
	.topBtn {
		width: 25vw;
		position: fixed;
		bottom: -10vw;
		right: -2vw;
	}
}

@media screen and (max-width: 375px) {

	.loading {
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 1.0);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20000;
	}

	.loading img {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 30%;
		margin-top: -20px;
		margin-left: -20px;
	}

	.main_visual-img {
		object-fit: cover;
	}

	.logo-dc {
		top: -4vw;
		left: -1vw;
		width: 35vw;
		height: 27vw;
	}

	.scroll_btn span {
		width: 11%;
	}

	.concept-box {
		width: 85vw;
	}

	.content {
		opacity: 1;
		transform: translateX(0);
	}

	.concept-text h2 {
		font-size: 1.3rem;
	}

	.content-dogs {
		opacity: 1;
		transform: translateX(0);
	}

	.content-interior {
		opacity: 1;
		transform: translateX(0);
	}

	.title2 {
		padding: 50px;
	}

	.dog-ato2 {
		position: absolute;
		top: -33vw;
		left: 13px;
		width: 33%;
	}

	.dog-ato3 {
		position: absolute;
		top: -17vw;
		left: -8vw;
		width: 34vw;
	}

	.interior-sp {
		height: 105vw;
	}

	.news-day {
		font-size: 1.1rem;
	}

	.news-day2 {
		font-size: 1.1rem;
	}

	.news-ibent {
		font-size: 1.1rem;
	}

	.btn--orange {
		font-size: 1.2rem;
		padding: 15px;
	}

	.home-news-img1, .home-news-img2, .home-news-img3 {
		height: 75vw;
	}

	/* ページトップボタン 共通 375x以下 */
	.topBtn {
		width: 25vw;
		position: fixed;
		bottom: -11vw;
		right: -2vw;
	}

}

@media screen and (max-width: 280px) {

	/* ページトップボタン 共通 280x以下 */
	.topBtn {
		width: 30vw;
		position: fixed;
		bottom: 9vw;
		right: -4vw;
	}
}