@charset "UTF-8";

/* CSS Document */
/* htmlの最大幅を指定 */
html {
	max-width: 1720px;
	margin: 0 auto;
	margin-top: -20px;
}

body {
	/*	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;*/
	padding: 0;
	background-color: #FFFFFF;
	color: #3c3c3c;
	font-size: 15px;
	font-feature-settings: "palt";
	/*	letter-spacing: 0.1em;*/
	line-height: 2;
	/*	max-width: 1080px;*/
	width: 100%;
	margin: 0 auto;
}

/*ブラウザと規定のスタイルを解除する*/
p, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

p {
	font-family: 'Kosugi Maru', sans-serif;
	font-size: min(1.1rem, 1.6vw);
}

/*画像の下部の余白をなくす*/
img {
	vertical-align: bottom;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/*リスト項目の余白をなくす*/
ul {
	margin: 0;
	padding: 0;
}

a {
	/*	訪問前のリンク*/
	color: #FFFFFF;
	/*	下線なしの設定*/
	text-decoration: none;
}

a:visited {
	/*	訪問後のリンク*/
	/*	color: #788d98;*/
}

a:hover {
	/*	マウスポインたを置いた時*/
	text-decoration: underline;
}

/*ヘッダーエリアのスタイルを指定する*/
#news {
	/*	ヘッダーエリアの幅と高さを指定*/
	/*	max-width: 1080px;*/
	width: 100%;
	height: 600px;
	background-image: url("../images/news/markus-winkler-aId-xYRTlEc-unsplash.jpg");
	/*	左右中央よせ*/
	margin: 0 auto;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	position: relative;
	z-index: 2;
}

body {
	margin: 0 auto;
}

/*共通部分*/
main {
	display: flex;
	max-width: 880px;
	margin: 0 auto 60px;
	position: relative;
	z-index: 1;
}


/*ナビゲーションメニュー*/
#top-head {
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;
	padding: 60px 0 0;
	line-height: 1;
	z-index: 999;
}

#top-head a, #top-head {
	color: #8B4513;
	text-shadow: 1px 1px 3px #EEEEEE;
	text-decoration: none;
	font-family: 'Itim', cursive;
}


#top-head .inner {
	position: relative;
}

#top-head .logo {
	float: left;
	font-size: 36px;
	color: #000000;
	padding-left: 5vw;
}




/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	height: 7vw;
	background: #fff;
	color: #000;
	background-color: rgba(255, 255, 255, 0.8);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
	font-size: 24px;
	color: #333;
	margin-top: 10px;
}

#top-head.fixed #global-nav ul li a {
	color: #333;
	padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 21px;
	width: 50px;
	height: 36px;
	cursor: pointer;
	z-index: 999;
}

#nav-toggle div {
	position: relative;
}

#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #8B4513;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
	top: 0;
}

#nav-toggle span:nth-child(2) {
	top: 11px;
}

#nav-toggle span:nth-child(3) {
	top: 22px;
}

.logo-dc {
	width: 18vw;
	position: absolute;
	top: -4vw;
}


.main_visual {
	background-color: #F2D6AA;
}

.gloval-nav {
	position: absolute;
	top: 10%;
	left: 34%;
	z-index: 2;
}

.gloval-nav li {
	float: left;
	margin: 0 20px;
	list-style: none;
	/* font-family: "ＭＳ ゴシック",sans-serif; */
	font-family: sans-serif;
}

.gloval-nav li a {
	color: #ffffff;
	text-shadow: -1px -2px 3px #808080;
	/* color: #FFCC99; */
	font-size: 1.6rem;
}



.gloval-nav2 {
	position: absolute;
	top: 10%;
	left: 34%;
	z-index: 2;
}


.gloval-nav2 li {
	float: left;
	margin: 0 20px;
	list-style: none;
	/* font-family: "ＭＳ ゴシック",sans-serif; */
	font-family: sans-serif;
}

.gloval-nav2 li a {
	color: #ffffff;
	text-shadow: -1px -2px 3px #808080;
	/* color: #FFCC99; */
	font-size: 1.6rem;
	text-decoration: none;
}

.gloval-nav2 li a:hover {
	/*文字と下線の余白調整*/
	padding-bottom: 3px;
	/*ホバーした時に下線を設定したので、 text-decoratione none  を指定*/
	text-decoration: none;
	opacity: 0.8;
}





.btn-sp {
	display: none;
}

/*Newsエリア*/
.news-area {
	width: 100%;
	background-color: #FFFFFF;
}

.news-title {
	padding: 100px 0;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-size: 40px;
	font-family: Chalkduster;
	color: #FF9900;
	display: block;
}

.title:hover {
	transition: 1.3s;
	opacity: 0.8;
}


.artical-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.artical-area {
	max-width: 600px;
}

.header1 {
	display: flex;
	max-width: 630px;
	position: relative;
}

.shinchaku {
	margin: 0 0 0 15px;
	width: 16%;
}

.artical-time {
	font-size: 20px;
	position: absolute;
	right: 10px;
	font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
}

.article-title {
	display: inline-block;
	font-size: 20px;
	padding: 18px 0 18px 17px;
}

.article-text {
	padding: 0.2em 0.5em;
	margin: 2em 1.5em;
	background: #FFFACD;
	box-shadow: 0px 0px 0px 10px #FFFACD;
	border: dashed 2px #FFD700;
}

.article-text p {
	margin: 0;
	padding: 0;
}

.important-text {
	color: red;
	font-size: 1.2rem;
}

/*サイドバーエリア*/
.sidebar {
	width: 20%;
	max-width: 160px;
	margin: 0 1.0em;
}

.sidebar-list dt {
	font-size: 1.0rem;
	color: #FFFFFF;
	background-color: #F8B551;
	padding: 14px 20px;
	line-height: 1em;
	border-radius: 10px;
	width: 120px;
}

.sidebar-list dd li a {
	display: inline-block;
	position: relative;
	font-size: 1.0rem;
	color: #000000;
	vertical-align: top;
	margin-bottom: 20px;
	letter-spacing: 3px;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.sidebar-list dd li a:hover {
	text-decoration: none;
}

.toggle-content li:first-child {
	margin-top: 20px;
}

.sidebar-list2 {
	margin-top: 100px;
}

.sidebar-list2 dt {
	font-size: 1.0rem;
	color: #FFFFFF;
	background-color: #F8B551;
	padding: 14px 20px;
	line-height: 1em;
	border-radius: 10px;
	width: 120px;
}

.sidebar-list2 dd li a {
	display: inline-block;
	position: relative;
	font-size: 1.0rem;
	color: #000000;
	margin-top: 14px;
	letter-spacing: 1px;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.sidebar-list2 dd li a:hover {
	text-decoration: none;
}

.inline {
	display: inline-block;
	margin-top: 20px;
}

.yajirushi {
	display: inline-block;
	max-width: 30px;
	width: 100%;
	vertical-align: middle;
}

.kasen {
	display: inline-block;
	border-bottom: 3px solid #F8B551;
}

.kasen:hover {
	opacity: 0.8;
}

.tsuki {
	border-bottom: 3px solid #F8B551;
}

.tsuki:hover {
	opacity: 0.8;
}

.content-img {
	width: 56vw;
	height: 37vw;
	border-radius: 50px;
	margin: 0 0 30px 10px;
	object-fit: cover;
}

.dacs-image {
	width: 30vw;
	height: 25vw;
	;
}

.pager {
	margin: 40px 0 35px 0;
	text-align: center;
}

.cau-text {
	color: #FF9900;
}

/*ボタン*/
a.btn--orange {
	color: #fff;
	background-color: #FFCC66;
	width: 150px;
	padding: 13px;
	border-radius: 10px;
	font-size: 1.1rem;
	font-family: 'Comic Sans MS';
}

a.btn--orange:hover {
	color: #FFCC66;
	background-color: #fff;
	transition: 1.3s;
	text-decoration: none;
}

a.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/*google mapエリア*/
.google-map {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.google-map iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

/*footerエリア*/
footer {
	text-align: center;
	padding: 50px 0 20px 0;
	background-color: #FFFFFF
}

footer .logo {
	margin: 20px 0;
	width: 40px;
	height: 40px;
	padding: 40px 10px;
}

footer .logo:hover {
	transform: scale(1.3);
	transition-duration: 1.0s;
}

footer .copyright {
	color: #000000;
	font-size: 18px;
}

@media screen and (max-width: 768px) {

	.gloval-nav {
		display: none;
	}

	/*ハンバーガーメニュー 他の下層ページ共通*/
	#nav-toggle {
		display: block;
	}

	#top-head, .inner {
		width: 100%;
		padding: 0;
	}

	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
	}

	#top-head a, #top-head {
		text-shadow: none;
	}

	#mobile-head {
		background: rgba(255, 255, 255, 0.2);
		width: 100%;
		height: 22vw;
		position: relative;
	}

	#top-head.fixed .logo,
	#top-head .logo {
		color: #333;
		font-size: 26px;
	}

	#gloval-nav {
		position: absolute;
		/* 開いてないときは画面外に配置 */
		top: -556px;
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		text-align: center;
		padding: 50px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	#gloval-nav ul {
		width: 100%;
		list-style: none;
		position: static;
		right: 0;
		bottom: 0;
		font-size: 14px;
	}

	#gloval-nav ul li {
		float: none;
		position: static;
	}

	#top-head #gloval-nav ul li a,
	#top-head.fixed #gloval-nav ul li a {
		color: #8B4513;
		text-shadow: 1px 1px 3px #EEEEEE;
		text-decoration: none;
		font-family: "Comic Sans MS";
		display: block;
		padding: 18px 0;
	}

	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}

	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}

	/* #global-nav スライドアニメーション */
	.open #gloval-nav {
		/* #global-nav top + #mobile-head height */
		-moz-transform: translateY(556px);
		-webkit-transform: translateY(556px);
		transform: translateY(556px);
	}

	/*	ハンバーガーメニュー ここまで*/

	.logo-dc {
		top: 1.3vw;
		left: 3vw;
		width: 23vw;
		height: 15vw;
	}

	.artical-area {
		max-width: 650px;
		width: 90%;
		margin: 0 auto;
	}

	.sidebar {
		display: none;
	}

	.sidebar-list dt {
		display: none;
	}

	.sidebar-list2 dt {
		display: none;
	}

	.sidebar-list, .sidebar-list2 {
		display: none;
		text-align: center;
		margin: 0;
	}

	.content-img {
		width: 96.5%;
		height: 70vw;
	}

	.article-text {
		margin: 2rem 1rem;
	}

	.article-text p {
		font-size: 1.1rem;
	}

	.dacs-image {
		width: 50vw;
		height: 35vw;
		;
	}

}

@media screen and (max-width: 375px) {

	/* ナビゲーションメニュー */
	#mobile-head {
		height: 33vw;
		position: relative;
	}

	.logo-dc {
		top: 5vw;
		left: 5vw;
		width: 35vw;
		height: 23vw;
	}

	.nav-sp {
		height: 160vw;
	}

	.shinchaku {
		width: 25%;
	}

	.content-img {
		width: 94vw;
		height: 90vw;
		margin: 0;
	}

	.dog-image {
		width: 60vw;
		height: 45vw;
	}
}